body {
    background: linear-gradient(pink 50%, blue);
    text-align: center;
}

h1 {
    color: darkviolet;
    font-family: cursive;
    font-size: 40px;
}

p {
    font-size: 26px;
    font-family: sans-serif;
    color: forestgreen;

}

.sp {
    margin: 50px;
}

.MI {
    height: 600px;
    width: 450px;
    border: 15px solid #FFFFFF;
}

img.hover {
    transform: scale(1.2);
}